{% extends 'yarn_prices/base.html' %}

{% block content %}

<main>
    <div class="container py-4">
        <div class="container text-center">
          <div class="row align-items-center">
            <div class="col-8">
              <h1 class="display-5 fw-bold">What app is this?</h1>
              <p class="fs-4">This app will help you analyze the cost of yarn in different stores in your city (Minsk :)) and choose the cheapest option.</p>
              <a href="{% url 'yarn_prices_urls:charts' %}" class="btn btn-primary btn-lg" type="button">Let's start! --></a>
            </div>
            <div class="col-4">
              <img class="w-100" src="https://cdn.w600.comps.canstockphoto.com/graph-down-price-arrow-clip-art_csp30468123.jpg" alt="rice-graph-pic">
            </div>
          </div>
        </div>
  
      <!-- <footer class="pt-3 mt-4 text-muted border-top">
        &copy; 2022
      </footer> -->
    </div>
  </main>

{% endblock content %}

